<div class="card">
    <img src="{{this.image}}" alt="" class="card-img-top">
    <div class="card-body">
        <h5 class="card-title">{{this.name}}</h5>
        <p class="card-text">Status: {{this.status}}</p>
        <p class="card-text">Specie: {{this.species}}</p>
        <p class="card-text">Type: {{this.type}}</p>
        <p class="card-text">Gender: {{this.gender}}</p>
        <p class="card-text">Origin: {{this.origin.name}}</p>
        <p class="card-text">Location: {{this.location.name}}</p>
        <p class="card-text">Episode: {{this.episode}}</p>
    </div>
</div>